* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 5px;
    float: left;
    width: 24.99999%;
    text-align: center;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
    text-align: left;
    padding: 10px 20px;
    height: 25vh;
    overflow: hidden;
    width: 90%;
}
  
div.gallery {
      width: 90%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 30vh;
      overflow: hidden;
      margin: 0 auto;
}

div.gallery img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.details{
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.tag{
    margin:3px;
    display: inline-block;
}

.loader{
    position: fixed;
    background-color: #EEE;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.);
    border: 1px solid #CCC;
    top: 100px;
    left:600px;
}

.well{
    width: 80%;
}

.label{
    margin-right: 3px;
}

a:hover, a:visited { 
    text-decoration: none;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/* Overrides for ract-bootstrap.css */
@media (min-width: 1200px){
    .container {
        width: auto;
    }
}

@media (min-width: 992px){
    .container {
        width: auto;
    }
}

@media (min-width: 768px){
    .container {
        width: auto;
    }
}